<div class="split-view mode-nerd">
  <slot />
</div>

<style>
  .split-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
    align-items: start;
  }
  .split-view > :global(.tension) {
    grid-column: 1 / -1;
  }
  @media (max-width: 768px) {
    .split-view {
      grid-template-columns: 1fr;
    }
  }
</style>
